@model SEPBankingApp.Models.UserDetailsViewModels

@{
    ViewBag.Title = "UserDetails";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.UserName)
        </dd>
    </dl>
    <hr />
</div>
<h4>Bank Accounts</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("AccountNumber")
        </th>
        <th>
            @Html.DisplayName("UserId")
        </th>
        <th>
            @Html.DisplayName("AccountType")
        </th>
        <th>
            @Html.DisplayName("CurrentBalance")
        </th>
        <th>
            @Html.DisplayName("BlockAccess")
        </th>
    </tr>
    
    @foreach (var item in Model.BankAccount)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlockAccess)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditUserBankAccount", new { id = item.AccountNumber })
        </td>
    </tr>
    }
</table>

<h4>List Of Roles</h4>
<table class="table table-striped">

    @foreach (var item in Model.Roles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item) @*need to fix this*@
            </td>
        </tr>
    }
</table>

@*<h4>List Of Logins</h4>
<table class="table table-striped">

    @foreach (var item in Model.AppUser.Logins)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoginProvider)
            </td>
        </tr>
    }

</table>*@

<p>
    @Html.ActionLink("Edit", "EditUser", new { id = Model.AppUser.Id }) |
    @Html.ActionLink("Delete", "DeleteUser", new { id = Model.AppUser.Id }) |
    @Html.ActionLink("Back to List", "Users")
</p>
