@*@model IEnumerable<SEPBankingApp.Models.TransactionHistory>*@
@model PagedList.IPagedList<SEPBankingApp.Models.TransactionHistory>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "TransactionHistory";
}

<h2>TransactionHistory</h2>

<p>
    @Html.ActionLink("Make Transaction", "MakeTransaction")
</p>

@*@using (Html.BeginForm("TransactionHistory", "TransactionHistory", FormMethod.Get))
{
    <p>
        search box code
    </p>
}*@

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>*@
        <th>
            @Html.DisplayName("DestinationAccountNumber")
        </th>

        <th>
            @Html.DisplayName("TransactionAmount")
        </th>
        <th>
            @Html.DisplayName("TransactionDateTime")
        </th>
        <th>
            @Html.DisplayName("PreBalance")
        </th>
        <th>
            @Html.DisplayName("PostBalance")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.TransactionId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.TransactionId })
                    </td>*@
            </tr>
        }
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("TransactionHistory", new { page }))