@model SEPBankingApp.Models.BankAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BankAccountModel</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionHistoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionHistoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AccountNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
